.kaufman__triangle {
  margin: 0;
  position: absolute;
  top: 0%;
  right: -210px;
  height: 877px;
  width: 877px;
  background-image: url('../../../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
