.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 99;
}

.header__title {
  margin: 0;
  line-height: 96px;
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  z-index: 99;
  align-self: center;
  margin-left: 64px;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 99;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0%;
  background-color: #2f80ed;
  z-index: 0;
}

.header__main-illustration {
  position: absolute;
  bottom: 0%;
  right: 0%;
  min-height: 608px;
  width: 765px;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}

.two-columns__brief {
  margin: 0%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  max-width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin: 0%;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin-bottom: 100px;
}

.section-title {
  margin: 0;
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section-subtitle {
  margin: 0%;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table {
  display: flex;
  list-style-type: none;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 0;
}

.table__cell {
  padding-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0%;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding-top: 100px;
  background-image: url('../images/feynman.png');
  background-position: bottom left;
  background-repeat: no-repeat;
}

.feynman__title {
  margin:0%;
  max-width: 648px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.feynman__subtitle {
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: -99;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  width: 60%;
  color: white;
  margin-top: 90px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section-subtitle_theme_dark {
  width: 60%;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  padding-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  margin: 0;
  position: absolute;
  top: 0%;
  right: -210px;
  height: 877px;
  width: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.footer {
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  justify-self: flex-end;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.footer__column-links {
  margin: 0%;
  padding-inline-start: 0%;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
}

.footer__column-link a{
  text-decoration: none;
  color: #f2f2f2;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
